
/* You can add global styles to this file, and also import other style files */
$blue: #3f51b5;

* {
    outline: none !important;
}
html { font-size: 12px; }
html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body, * {
    font-size: 1rem;
}

.mat-drawer-content {
    padding-bottom: 1em;
}
.allow-cr {
    white-space: pre-line;
}

@import 'assets/scss/main.scss';
